version: '3.9'

services:
  db:
    image: postgres:17
    container_name: inai_db
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    working_dir: /code
    container_name: inai_web
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db

    volumes:
      - ./app/media:/code/app/media
      - ./app:/code/app
      
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    

volumes:
  postgres_data:
